/app/tmp/cache/models/*
/app/tmp/cache/persistent/*
/app/tmp/cache/views/*
/app/tmp/logs/*
/app/tmp/sessions/*
/app/tmp/tests/*
!/app/tmp/cache/models/empty
!/app/tmp/cache/persistent/empty
!/app/tmp/cache/views/empty
!/app/tmp/logs/empty
!/app/tmp/sessions/empty
!/app/tmp/tests/empty
_notes/
